.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #222;
  color: white;
}

.app-header img {
  width: 1em;
  height: 1em;
  right: 0;
  position: absolute;
  margin-right: 20px;
  cursor: pointer;
}

.app-intro {
  font-size: large;
}
